@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');

*{
    scroll-behavior: smooth;
}

body{
    font-family: 'Palanquin Dark';
    background-color: #202020;
}

.navbar{
    color: rgb(198, 198, 199);
    background-color: #4d5761;
    position: fixed;
    width: 100%;
    z-index: 10;
    text-align: center;
    top: 0;
    left: 0;
}
.navbar img{
    width: 45px;
    display: inline-block;
    position: relative;
    top: 10px;
}
.navbar a{
    padding-bottom: 10px;
    display: inline-block;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 25px;
    text-decoration: none;
}

h1{
    padding: 10px 0 0 30px;
}
.lang-intro{
    padding: 20px;
    color:#bbdbfe;
    display: flex;
}

.lang-intro img{
    width: 100px;
    height: 100px;
    background-color: rgb(242, 242, 242);
    padding: 15px;
    border-radius: 30%;
    margin: 80px 50px 50px 50px;
}

.lang-intro p{
    width: 1000px;
    text-align: justify;
    background-color: #315881;
    padding: 20px;
    border-radius: 10px;
}

ul {
    text-align: center;
    margin: 30px auto;
    padding: 0px 20px;
}

li {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400px;
    text-transform: uppercase;
    display: inline-block;
    width: 200px;
    text-decoration: underline;
}

div:not(.navbar){
    top: 40px;
}

table{
    margin: 20px;
    margin-bottom: 50px;
    padding: 10px;
}

td{
    background-color: #FFFFFF;
    margin: 20px;
    padding: 15px 20px;
}

th{
    color: #FFFFFF;
    background-color: #4DA8DA;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
}

span{
    color: #0056B3;
    text-align: center;
    display: block;
}

td:not(span){
    text-align: justify;
}

#lang-use{
    text-align: center;
    color: #307499;
    letter-spacing: 5px;
}

.lang-uses{
    color: #3f96c4;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.lang-uses-1,.lang-uses-2,.lang-uses-3{
    width: 400px;
    background-color: rgb(194, 237, 246);
    border-radius: 10px;
    padding: 10px 20px;
}

.lang-example{
    text-align: center;
    color: white;
    margin-top: 100px;
}

.lang-more h3{
    text-align: center;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 30px;
    text-decoration: underline #78ceff;
    text-underline-offset: 10px;
}

.lang-more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-more-child a{
    text-decoration: none;
    color: #4d5761;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px 20px;
}

.lang-more-child a:hover{
    text-decoration: none;
    color: #4d5761;
    background-color: rgb(207, 207, 207);
    border-radius: 15px;
    padding: 5px 20px;
}

.lang-more-child a:visited{
    text-decoration: none;
}

.lang-more-child p{
    text-align: center;
}

#next a{
    color: #007bff;
}